---
name: Test report
about: 'Report test results obtained on your hardware.'
title: ''
labels: 'P: default, T: test-report'
assignees: ''

---

**Dasharo version**
<!--(The version of Dasharo you're using (e.g., `v0.2.0`))-->

**Hardware compatibility**
<!--(Provide the description of the hardware setup used in the tests))-->
<!--( or link to HCL reported issue: https://github.com/Dasharo/dasharo-issues/issues/new/choose))-->

**Test[s] information**

* Test name: <!--(Short test name))-->
  * Test scenario: <!--(Short description of the test scenario))--> 
  * Result: <!--(choose from PASS/FAIL/NOT SUPPORTED/NOT TESTED))-->
  * Test type: <!--(choose from manual/semi-automated/automated))-->
  * Framework used (optional):
  <!--(provide name of the framework if test was semi-automated/automated))-->
* Logs or test output (optional):
<!--(provide output or link to the logs from the test results/framework)-->
